<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>双色球 Lucky 程序</h1>
<div id="form">
    <input class="sort" type="text" value="2016001" name="beginPeriod" id="beginPeriodId" maxlength="7" autocomplete="off">期&nbsp;
至<input class="sort" type="text" value="2016047" name="endPeriod" id="endPeriodId" maxlength="7" autocomplete="off">期&nbsp;
<button class="submit">查看</button>

    <label>阙值<input name="key" id="key" value="" placeholder="参考百分比">（如果没有阙值，取比例最大值，如果有取大于阙值或者最大的百分比值）</label>
<p>期数规则为年份+期号（3位数，一般在150左右），比如2016+001</p>
</div>
<div id="main">
    <div class="result"></div>
    <div class="fl left"></div>
    <div class="fl right"></div>
</div>
</body>
</html>